/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}


/* classi comuni */
.container{
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 32px;
}
.bg-lightblue{
    background-color: #b3cee5;
}
.btn{
    display: inline-block;
    text-align: center;

    padding: 10px 16px;

    color: white;
    background-color: #0061ff;
}
.btn.white{
    color: black;
    border: 1px solid #5c5c5c;
    background-color: white;
}
.text{
    font-size: 20px;
    font-weight: 800;

    margin-bottom: 24px;
}
.value{
    margin-bottom: 16px;
    font-size: 12px;
}



/* nav bar */
nav{
    position: fixed;
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 85px;
    width: 100%;
    top: 0;

    background-color: white;
}
.left-nav, .right-nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
}
nav a {
    text-decoration: none;
    color: black;
}
/* fine nav bar */


/* inizio hero */
.container-big{
    position: relative;
    bottom: -70px;

    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px;
}
h1{
    padding-top: 85px;
    margin-bottom: 70px;
    font-size: 60px;
}
.container-big .hero{
    display: flex;    
}
.container-big .hero .hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    
    width: 30%;
}
.container-big .hero .hero-text .fa-solid{
    position: absolute;
    left: 0;
    bottom: calc(70px + 25px);

    font-size: 44px;
}
.container-big .hero .hero-img{
    width: 70%;
}
.container-big .hero .hero-img img{
    width: 100%;
}
/* fine hero */


/* inizio section */
.container h2{
    margin-bottom: 60px;
}
.container .checkbox{
    padding-right: 50px;
}

/* inizio colonne */
.buisness-plane{
    display: flex;
    justify-content: space-between;
    gap: 25px;

    margin: 50px 0px;
}
.plane{
    width: calc(100% / 3 - 25px / 3 * 2);
    display: flex;
    flex-direction: column;

    border: 1px solid #dddddf;
}
.plane .type{
    border-bottom: 1px solid #dddddf;
    text-align: center;

    padding: 12px;
}
.plane .details{
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 0px 20px;
    margin-bottom: 50px;
}
.details .infos{
    padding: 15px 0px;
}
.details .month{
    color: grey;
}
.details .link{
    padding-bottom: 40px;
}
.link span{
    border-bottom: 1px solid #dddddf;
}
.details .list-title{
    padding-top: 20px;
    font-weight: 800;
}
.details ul{
    list-style-type: none;
}
.details ul li{
    display: flex;
    align-items: baseline;

    padding-bottom: 25px;
}
.details ul li .fa-solid{
    margin-right: 8px;
}
.details ul li .blue{
    color: #0061ff;
}
/* fine colonne */
/* sezione contantti sotto colonne */
.contacts{
    margin-bottom: 150px;
    
    display: flex;
    flex-direction: column;

    border: 1px solid #dddddf;
}
.contacts .type{
    width: 100%;
    padding: 14px;

    text-align: center;
    border-bottom: 1px solid #dddddf;
}
.contacts .enterprise{
    display: flex;

    padding: 30px;
}
.contacts .enterprise .btn-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 50%;
}
.contacts .enterprise .value{
    margin-bottom: 58px;
}
/* fine sezione contantti sotto colonne */

/* sezione trova un partner */
.partners{
    display: flex;
    margin-bottom: 150px;
}
.partner-img{
    width: 60%;
}
.partner-img img{
    width: 100%;
}
.partner-text{
    width: 40%;
    padding: 60px 50px;
}
.partner-text p{
    margin-bottom: 30px;
}
/*fine sezione trova un partner */

/* 6 riquadri */
.operations{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;  

    margin-bottom: 200px;
}
.operation{
    display: flex;
    flex-direction: column;

    width: calc(100% / 3 - 50px / 3 * 2);
}
.operation img{
    width: 100%;
}
.operation .text{
    margin-bottom: 40px;
}
/* fine 6 riquadri */

/* info team */
.team-info{
    margin-bottom: 150px;
}
.team-info a {
    color: #0906f1;
}

/*fine info team */








/* quadrati */
.squares{
    display: flex;
}
.lateral-squares{
    background-color: darkblue;
    /* test */
    display: flex;
    flex-wrap: wrap;

    width: calc(100vw / 3);
    height: calc(100vw / 3);
}
.central-squares{
    width: calc(100% / 3);
    height: calc(100vw / 3);

    background-color: #f5f5f5;
}
.lateral-squares .square{
    width: 50%;
    height: 50%;
}
.square.bg-1{
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}
.square.bg-2{
    background-color: #61082b;
}
.square.bg-3{
    background-color: #0093ce;
}
.square.bg-4{
    background-color: #ff1c1c;
}
.square.bg-5{
    background-color: #d5001f;
}
.square.bg-6{
    background-color: #b4d0e7;
}
.square.bg-7{
    background-color: #0d2481;
}
.square.bg-8{
    background-color: #ffd830;
}
/* fine quadrati */





.free-trial{
    display: flex;

    padding: 130px 0px;
}
.free-trial h2{
    color: #630c2f;
    width: 60%;
    margin: 0;
}
.free-trial .btn-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}

















.questions{
    height: 750px;
    width: 1000px;
    background-color: red;
    /* test */
}
/* fine section */



/* inizio footer */
footer{
    background-color: black;
    color: white;
}
.footer-container{
    height: 570px;
    width: 1200px;
    /* test */

    margin-left: auto;
    margin-right: auto;

    display: flex;
}
.footer-box{
    height: 570px;
    width: calc(100% / 5);
    border: 1px solid white;
    /* test */
}
/* fine footer */
