/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}



.bg-lightblue{
    background-color: #b3cee5;
}



/* nav bar */
nav{
    height: 80px;
    background-color: yellow;
    /* test */

    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-info{
    /* to change in max */
    min-width: 325px;
    /* test */
}
/* fine nav bar */

/* inizio hero */
.container-big{
    height: 750px;
    /* test */
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
}
/* fine hero */

/* inizio section */
.container{
    display: flex;

    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}





.buisness-plane{
    height: 1200px;
    width: 1000px;
    background-color: blue;
    /* test */

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
}
.plane{
    width: 300px;
    height: 950px;
    background-color: grey;
    /* test */
}





.contacts{
    height: 300px;
    width: 1000px;
    background-color: red;
    /* test */
}





.partners{
    height: 530px;
    width: 1000px;
    background-color: blue;
    /* test */
    display: flex;
}
.partner-img{
    width: 600px;
    height: 530px;
    background-color: aquamarine;
    /* test */
}
.partner-text{
    flex-grow: 1;
    background-color: blueviolet;
}





.operations{
    height: 1200px;
    width: 1000px;
    background-color: red;
    /* test */

    /* da rivedere */
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;  
}
.operation{
    width: 300px;
    height: 500px;
    background-color: lightcoral;
    /* test */
}





.team-info{
    height: 500px;
    width: 1000px;
    background-color: blue;
    /* test */
}





.companies{
    height: 650px;
    background-color: aquamarine;
    /* test */
    width: 100%;

    display: flex;
}
.left-container{
    width: calc(100% / 3);
    height: 650px;
    background-color: darkblue;
    /* test */
}
.central-container{
    width: calc(100% / 3);
    height: 650px;
    background-color: pink;
    /* test */
}
.right-container{
    width: calc(100% / 3);
    height: 650px;
    background-color: darkcyan;
    /* test */
}





.free-trial{
    height: 370px;
    width: 1000px;
    /* test */
}
.questions{
    height: 750px;
    width: 1000px;
    background-color: red;
    /* test */
}
/* fine section */



/* inizio footer */
footer{
    background-color: black;
    color: white;
}
.footer-container{
    height: 570px;
    width: 1200px;
    /* test */

    margin-left: auto;
    margin-right: auto;

    display: flex;
}
.footer-box{
    height: 570px;
    width: calc(100% / 5);
    border: 1px solid white;
    /* test */
}
/* fine footer */
